[submodule "makefiles"]
	path = makefiles
	url = https://github.com/dbosk/makefiles.git
[submodule "beamer-didactic"]
	path = beamer-didactic
	url = https://github.com/dbosk/beamer-didactic.git
[submodule "project/p-uppgifter"]
	path = project/p-uppgifter
	url = git@gits-15.sys.kth.se:Programmeringsteknik/Puppgifter.git
