<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div>
    <ul id="nextprev">
      <li>
        {% if page.prev %}
        <a href="{{ page.prev.url }}">
          &lt;
          {{ page.prev.title }}
        </a>
        {% endif %}
      </li>
      <li>
        {% if page.next %}
        <a href="{{ page.next.url }}">
          {{ page.next.title }}
          &gt;
        </a>
        {% endif %}
      </li>
    </ul>
  </div>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
      {%- if page.author %}
        <ul class="contact-list">
          {% if page.author.name -%}
            <li class="p-name">{{ page.author.name | escape }}</li>
          {% endif -%}
          {% if page.author.email -%}
            <li><a class="u-email" href="mailto:{{ page.author.email }}">{{ page.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
    </div>

  </div>

</footer>
