// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

p {
  max-width: 50em;
  text-align: justified;
}

ul#nextprev {
  display: table;
  width: 80%;
}
ul#nextprev > li {
  display: table-cell;
  width: 30%
}
ul#nextprev > li:nth-child(2) {
  text-align: center;
}
ul#nextprev > li:last-child {
  text-align: right;
}

